.spacer-10 {
  margin-top: 10vh;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.hex-container {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.section-heading {
  padding-bottom: 5rem;
}

.modal-content {
  display: flex;
  justify-content: space-around;
  margin: 0;
  & p {
    width: 100%;
  }
}

.slider-btn {
  color: white;
  background: rgba(0,0,0,0);
  border: none;
  font-size: 3rem;
}

.project-link-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-size: 3rem;
}

.logo-list {
  display: flex;
  align-items: center;
  
}

.tech-logo {
  max-height: 100%;
  max-width: 50%;
}