.spacer-10 {
  margin-top: 10vh;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.tech-column {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.skills-tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-tech-img {
  height: 3rem;
  width: 3rem;
}

.hex-container {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.section-heading {
  padding-bottom: 4rem;
}

.project-preview {
  cursor: pointer;
}

.modal-content {
  display: flex;
  justify-content: space-around;
  margin: 0;
  & p {
    width: 100%;
  }
}

.modal-image {
  transition: opacity 1s ease;
}

.fade {
  opacity: 0;
}

.slider-btn {
  color: white;
  background: rgba(0,0,0,0);
  border: none;
  font-size: 3rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.project-link-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-size: 3rem;
}

.logo-list {
  display: flex;
  align-items: center;
  
}

.tech-logo {
  max-height: 100%;
  max-width: 50%;
}

.social-block {
  font-size: 4rem;
}

@media screen and (min-width: 769px) {
  // enabling the modal to be larger 
  .modal-content,
  .modal-card {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 60vw;
  }
  //making the contact form bigger
  .form {
    width: 100%;
  } 

}

@media screen and (min-width: 1200px) {

  .form input {
    width: 50%;
  }

}