.spacer-10 {
  margin-top: 10vh;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.section-heading {
  padding-bottom: 5rem;
}

.project-link-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-size: 3rem;
}

.logo-list {
  display: flex;
  align-items: center;
  
}

.tech-logo {
  max-height: 100%;
  max-width: 50%;
}